.black-and-white {
  text-align: center;
  background-color: #000;
  color: #fff;
}

.color {
  text-align: center;
  background-color: #f4f4f4;
  color: #000;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #000;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: #76e0bd 1px solid;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px;
}

.link {
  margin-right: 10px;
  list-style: none;
  text-decoration: none;
  padding: 10px;
}

.nav-link {
  color: white;
  margin-right: 10px;
  list-style: none;
  text-decoration: none;
  padding: 10px;
}

.link:hover,
.logo:hover,
.nav-link:hover {
  color: #76e0bd;
  border: #76e0bd 1px solid;
}

.navbar-toggle,
.first-panel-toggle {
  display: none;
}

.first-panel-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
  padding: 5px;
}

.first-panel-toggle span {
  display: block;
  height: 2px;
  width: 25px;
  background-color: #fff;
  margin: 3px 0;
}

.header {
  padding: 1rem;
}

.main {
  padding: 2rem;
}

.genres {
  margin-bottom: 1rem;
}

.genres button {
  margin-right: 1rem;
  background-color: #f4f4f4;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.genres button.active {
  background-color: #333;
  color: white;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.movie {
  border: 1px solid #ccc;
  padding: 1rem;
  text-align: left;
  border: #76e0bd 2px solid;
}

.movie h2 {
  margin: 0;
  font-size: 1.5rem;
}

.movie p {
  margin: 0.5rem 0;
}
.responsive-three-panel-page {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

.panel {
  border-top: 1px solid rgb(115, 207, 72);
  box-sizing: border-box;
}

.panel-1 {
  width: 25%;
  border-right: 1px solid rgb(115, 207, 72);
}

.panel-2 {
  width: 50%;
  border-right: 1px solid rgb(115, 207, 72);
}

.panel-3 {
  width: 25%;
}

.relatedMoviesList {
  list-style: none;
  padding: 10px;
  text-decoration: none;
  text-align: left;
}
@media screen and (max-width: 900px) {
  .responsive-three-panel-page {
    flex-wrap: wrap;
  }
  .panel-1 {
    width: 25%;
  }
  .panel-2 {
    width: 75%;
  }
  .panel-3 {
    width: 100%;
    order: 3;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .navbar-links {
    display: none;
  }
  .navbar-links.visible {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 0;
  }
  .navbar-links.visible > .link {
    display: block;
    padding: 10px;
    color: white;
  }
  .navbar-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
  }

  .navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 5px;
    display: block; /* Show the toggle button on smaller screens */
  }

  .navbar-toggle span {
    display: block;
    height: 2px;
    width: 25px;
    background-color: #fff;
    margin: 5px 0 0 5px;
  }
  .first-panel-toggle {
    display: inline-block;
  }
  .movie-list {
    display: block;
    grid-template-columns: 1; /* Reset the grid columns */
    gap: initial; /* Reset the gap */
  }

  .movie-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Reset the grid columns */
    gap: 2rem; /* Reset the gap */
  }

  .panel-1 {
    display: none;
  }
  .panel-2 {
    width: 100%;
  }
}
